html,body{
	background-color:#C35817;
	height:100%;
	width:100%;
}

span.Nume{
	color:red;
}

#logoutButton {
	float:right;
	margin : 3% 3% 0 0;
}

#articolContainer{
	padding-top :5%;
    width: 80%;
	margin: auto;
}
div.Searchbar form {
	width: 30%;
	margin: 30% auto;

}
div.header{
	height: 20%;
	background-color:white; 
	 font-family: "Times New Roman", Times, serif;
}
div.content{
	height: 80%;
	color:black;
}

div.Articole div.Articol {
	display: inline-block;
	width: 150px;
	height:150px;
	border:3px;
	border-radius: 35%;
	margin: 5px;
	background-color:  #F5DEB3;
	}
	
	div.Articole div.Articol {
		text-align:center;
	}
div.menu1{
	width: 50%;
    height: 50%;
    position: absolute;
    left: 60%;
    top: 30%;
}	
	
	
div.Articole div.Articol span.Last{
	font-size: 2em;
	}
div.Articole div.Articol span.First{
	font-size: 1.2em;
}
div.body1 div.search1 {
	font-size: 1em;
	color:black;
}


div.Comenzii div.Comanda {
	display: inline-block;
	width: 20%;
	border-radius: 5%;
	margin: 5px;
	background-color:   #F5DEB3;}

div.Comenzii div.Comanda  span.Cat{
	font-size: 2em;
}
div.Comenzii div.Comanda  span.Dif{
	font-size: 1.2em;
}

p.titlu{
	font-size:5em;
	font-family: "Times New Roman", Times, serif;
	color:black;
}